
<div class="modal-content">
  <div class="modal-header">
    <h1 class="modal-title fs-5" id="staticBackdropLabel">Delete</h1>
    <button type="button" class="btn-close" aria-label="Close" data-bs-dismiss="modal" (click)="sendResponse(false)"></button>
  </div>
  <div class="modal-body">
    <p *ngIf="passwordsGuids.length == 1">Do you really want to delete this password?</p>
    <p *ngIf="passwordsGuids.length != 1">Do you really want to delete {{ passwordsGuids.length }} passwords?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="sendResponse(false)">Cancel</button>
    <button type="submit" class="btn btn-danger" (click)="sendResponse(true)">Delete</button>
  </div>
</div>
