div.navbarMargin {
  margin-top: 4.5rem !important;
}

.pointer {
  cursor: pointer;
}

.noBorderRadius {
  border-radius: 0 !important;
}

.noBorderLeftRadius {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.noBorderRightRadius {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.fs-2-nonimportant {
  font-size: calc(1.325rem + .9vw);
}

.vertical-center {
  min-height: 100%;
  display: flex;
  align-items: center;
}
