<div class="container">
    <div class="row">
        <div class="col-lg-4"></div>
            <div class="col-lg-4">
              <form [formGroup]="loginForm" (ngSubmit)="login()">
                <div class="mb-3">
                  <label for="emailAddress" class="form-label">Email address</label>
                  <input type="email" class="form-control" id="emailAddress" formControlName="emailAddress" aria-describedby="emailAddressHelpBlock" required>
                  <div *ngIf="emailAddress?.invalid && (emailAddress?.dirty || emailAddress?.touched)" id="emailAddressHelpBlock"
                    class="alert alert-danger">
                    <div *ngIf="emailAddress?.errors?.['required']">
                      This field is required.
                    </div>
                  </div>
                </div>
                <div class="mb-3">
                  <label for="password" class="form-label">Password</label>
                  <input type="password" class="form-control" id="password" formControlName="password" aria-describedby="passwordHelpBlock" required>
                  <div *ngIf="password?.invalid && (password?.dirty || password?.touched)" id="passwordHelpBlock"
                    class="alert alert-danger">
                    <div *ngIf="password?.errors?.['required']">
                      This field is required.
                    </div>
                  </div>
                </div>
                <button type="submit" class="btn btn-primary"aria-describedby="submitHelpBlock">Login</button>
                <!-- <div *ngIf="" id="submitHelpBlock" class="form-text alert alert-danger">
                  <b>Error: </b>You must enter a valid email address and password.
                </div> -->
              </form>
        </div>
        <div class="col-lg-4"></div>
    </div>
</div>