 <div class="container navbarMargin">
    <div class="row">
        <div class="col-lg-4"></div>
            <div class="col-lg-4">
              <form [formGroup]="passwordForm" (ngSubmit)="create()">
                <div class="mb-3">
                  <label for="passwordName" class="form-label">Password name</label>
                  <input type="text" class="form-control" id="passwordName" formControlName="passwordName" aria-describedby="passwordNameHelpBlock" required
                         [ngClass]="{ 'is-invalid': submitted && passwordName?.errors }">
                  <div *ngIf="submitted && passwordName?.errors" class="invalid-feedback">
                    <div *ngIf="passwordName?.errors?.['required']">This field is required.</div>
                  </div>
                </div>
                <div class="mb-3">
                  <label for="userName" class="form-label">User name</label>
                  <input type="text" class="form-control" id="userName" formControlName="userName" aria-describedby="userNameHelpBlock" required
                         [ngClass]="{ 'is-invalid': submitted && userName?.errors }">
                  <div *ngIf="submitted && userName?.errors" class="invalid-feedback">
                    <div *ngIf="userName?.errors?.['required']">This field is required.</div>
                  </div>
                </div>
                <div class="mb-3">
                  <label for="passwordDecrypted" class="form-label">Password</label>
                  <input type="password" class="form-control" id="password" formControlName="passwordDecrypted" aria-describedby="passwordDecryptedHelpBlock" required
                         [ngClass]="{ 'is-invalid': submitted && passwordDecrypted?.errors }">
                  <div *ngIf="submitted && passwordDecrypted?.errors" class="invalid-feedback">
                    <div *ngIf="passwordDecrypted?.errors?.['required']">This field is required.</div>
                    <div *ngIf="passwordDecrypted?.errors?.['minlength']">Password must be at least 6 characters long.</div>
                    <div *ngIf="passwordDecrypted?.errors?.['maxlength']">Password must not exceed 255 characters.</div>
                  </div>
                </div>
                <div class="mb-3">
                  <label for="description" class="form-label">Description</label>
                  <textarea maxlength="255" type="" class="form-control" id="description" formControlName="description" aria-describedby="descriptionHelpBlock" required
                            [ngClass]="{ 'is-invalid': submitted && description?.errors }"></textarea>
                  <div *ngIf="submitted && description?.errors" class="invalid-feedback">
                    <div *ngIf="description?.errors?.['maxlength']">Description must not exceed 255 characters.</div>
                  </div>
                </div>
                <button type="submit" class="btn btn-primary" aria-describedby="submitHelpBlock">Save</button>
              </form>
        </div>
        <div class="col-lg-4"></div>
    </div>
</div> 
