<div class="container navbarMargin">
  <ngx-loading [show]="loading"></ngx-loading>
  <div class="row">
    <h1 class="h1 fw-bold text-center">Settings</h1>
  </div>
  <div class="row ">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="account-tab" data-bs-toggle="tab" data-bs-target="#account" type="button" role="tab" aria-controls="account" aria-selected="true">My account</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="tfa-tab" data-bs-toggle="tab" data-bs-target="#tfa" type="button" role="tab" aria-controls="tfa" aria-selected="false">Two-Factor Authentication</button>
        </li>
      </ul>
      <div class="tab-content border p-3 mb-5" id="myTabContent">
        <div class="tab-pane fade show active" id="account" role="tabpanel" aria-labelledby="account-tab">
          Email:
          <br>
          <a class="btn btn-danger p-2" title="Delete account" (click)="deleteAccount()">
            <i class="bi bi-trash3"></i>&nbsp;&nbsp;Delete Account
          </a>
        </div>
        <div class="tab-pane fade" id="tfa" role="tabpanel" aria-labelledby="tfa-tab">
          <div *ngIf="tfaEnabled">
            <h3 class="">Current Settings</h3>
            <p class="text-success">Two-Factor Authentication is enabled.</p>
            <p class="m-0">QR code:</p>
            <img [src]="qrCodeSetupImageUrl">
            <p class="m-0">Manual key: <span>{{authKey}}</span></p>
            <hr>
            <h3 class="mt-4">Disable</h3>
            <p>
              Type the code provided by the Google Authenticator app to disable two-factor authentication:
            </p>
            <div class="col-lg-4">
              <form [formGroup]="tfaForm" (ngSubmit)="disableTfa()">
                <div class="mb-3 form-floating">
                  <input type="text" class="form-control" id="code" formControlName="code" aria-describedby="codeHelpBlock" required placeholder="Code"
                         [ngClass]="{ 'is-invalid': submitted && code?.errors }">
                  <label for="code" class="form-label">Code</label>
                  <div *ngIf="submitted && code?.errors" class="invalid-feedback">
                    <div *ngIf="code?.errors?.['required']">This field is required.</div>
                  </div>
                </div>
                <div class="form-group">
                  <button type="submit" [disabled]="loading" class="btn btn-danger" aria-describedby="submitHelpBlock">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Disable Two-Factor Authentication
                  </button>
                </div>
                <div *ngIf="submitted && wrongCode" id="submitHelpBlock" class="form-text alert alert-danger">
                  <b>Error: </b>Wrong code.
                </div>
              </form>
            </div>
          </div>
          <div *ngIf="!tfaEnabled">
            <h3 class="">Current Settings</h3>
            <p class="text-danger">Two-Factor Authentication is disabled.</p>
            <h3 class="">Step 1</h3>
            <p class="m-0">Scan the following QR code or enter key using the Google Authenticator app:</p>
            <img [src]="qrCodeSetupImageUrl">
            <p class="m-0">Manual key: <span>{{authKey}}</span></p>
            <h3 class="mt-4">Step 2</h3>
            <p>
              Type the code provided by the Google Authenticator app to verify your configuration:
            </p>
            <div class="col-lg-4">
              <form [formGroup]="tfaForm" (ngSubmit)="enableTfa()">
                <div class="mb-3 form-floating">
                  <input type="text" class="form-control" id="code" formControlName="code" aria-describedby="codeHelpBlock" required placeholder="Code"
                         [ngClass]="{ 'is-invalid': submitted && code?.errors }">
                  <label for="code" class="form-label">Code</label>
                  <div *ngIf="submitted && code?.errors" class="invalid-feedback">
                    <div *ngIf="code?.errors?.['required']">This field is required.</div>
                  </div>
                </div>
                <div class="form-group">
                  <button type="submit" [disabled]="loading" class="btn btn-primary" aria-describedby="submitHelpBlock">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Enable Two-Factor Authentication
                  </button>
                </div>
                <div *ngIf="submitted && wrongCode" id="submitHelpBlock" class="form-text alert alert-danger">
                  <b>Error: </b>Wrong code.
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-2"></div>
  </div>
</div>

