<div class="container navbarMargin">
  <ngx-loading [show]="loading"></ngx-loading>
  <div class="row">
    <h1 class="h1 fw-bold text-center" *ngIf="isAddMode">Add password</h1>
    <h1 class="h1 fw-bold text-center" *ngIf="!isAddMode">Edit password</h1>
  </div>
  <div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
      <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label for="passwordName" class="form-label">Name</label>
          <input type="text" class="form-control" id="passwordName" formControlName="passwordName" aria-describedby="passwordNameHelpBlock" required
                 [ngClass]="{ 'is-invalid': submitted && passwordName?.errors }">
          <div *ngIf="submitted && passwordName?.errors" class="invalid-feedback">
            <div *ngIf="passwordName?.errors?.['required']">This field is required.</div>
          </div>
        </div>
        <div class="mb-3">
          <label for="userName" class="form-label">Username</label>
          <div class="input-group">
            <input type="text" class="form-control" id="userName" formControlName="userName" aria-describedby="userNameHelpBlock" required
                   [ngClass]="{ 'is-invalid': submitted && userName?.errors }">
            <div class="input-group-append">
              <button type="button" (click)="copyToClipboard(userName.value)" class="btn btn-outline-secondary noBorderLeftRadius" title="Copy username" aria-label="Copy username">
                <i class="bi bi-files"></i>
              </button>
            </div>
          </div>
          <div *ngIf="submitted && userName?.errors" class="invalid-feedback">
            <div *ngIf="userName?.errors?.['required']">This field is required.</div>
          </div>
        </div>
        <div class="mb-3">
          <label for="passwordDecrypted" class="form-label">Password</label>
          <div class="input-group">
            <input [type]="toggledPassword ? 'text' : 'password'" class="form-control" id="password" formControlName="passwordDecrypted" aria-describedby="passwordDecryptedHelpBlock" required
                   [ngClass]="{ 'is-invalid': submitted && passwordDecrypted?.errors }">
            <div class="input-group-append">
              <button type="button" (click)="togglePassword()" class="btn btn-outline-secondary border-end-0 noBorderRadius" title="Toggle visibility" aria-label="Toggle visibility">
                <i class="bi" [class.bi-eye]="!toggledPassword" [class.bi-eye-slash]="toggledPassword"></i>
              </button>
              <button type="button" (click)="copyToClipboard(passwordDecrypted.value)" class="btn btn-outline-secondary noBorderLeftRadius" title="Copy password" aria-label="Copy password">
                <i class="bi bi-files"></i>
              </button>
            </div>
          </div>
          <div *ngIf="submitted && passwordDecrypted?.errors" class="invalid-feedback">
            <div *ngIf="passwordDecrypted?.errors?.['required']">This field is required.</div>
            <div *ngIf="passwordDecrypted?.errors?.['minlength']">Password must be at least 6 characters long.</div>
            <div *ngIf="passwordDecrypted?.errors?.['maxlength']">Password must not exceed 255 characters.</div>
          </div>
        </div>
        <div class="mb-3">
          <label for="url" class="form-label">URL</label>
          <div class="input-group">
            <input type="url" class="form-control" id="url" formControlName="url" aria-describedby="urlHelpBlock" placeholder="e.g. https://google.com/"
                   [ngClass]="{ 'is-invalid': submitted && url?.errors }">
            <div class="input-group-append">
              <button type="button" (click)="goToUrl(url.value)" class="btn btn-outline-secondary border-end-0 noBorderRadius" title="Go to URL" aria-label="Go to URL">
                <i class="bi bi-box-arrow-up-right"></i>
              </button>
              <button type="button" (click)="copyToClipboard(url.value)" class="btn btn-outline-secondary noBorderLeftRadius" title="Copy URL" aria-label="Copy URL">
                <i class="bi bi-files"></i>
              </button>
            </div>
          </div>
          <div *ngIf="submitted && url?.errors" class="invalid-feedback">
            <div *ngIf="url?.errors?.['maxlength']">URL length must not exceed 2048 characters.</div>
          </div>
        </div>
        <div class="mb-3">
          <label for="notes" class="form-label">Notes</label>
          <textarea maxlength="255" type="" class="form-control" id="notes" formControlName="notes" aria-describedby="notesHelpBlock"
                    [ngClass]="{ 'is-invalid': submitted && notes?.errors }"></textarea>
          <div *ngIf="submitted && notes?.errors" class="invalid-feedback">
            <div *ngIf="notes?.errors?.['maxlength']">Notes length must not exceed 10000 characters.</div>
          </div>
        </div>
        <div class="mb-3 text-center">
          <button type="submit" [disabled]="loading" class="btn btn-primary" aria-describedby="submitHelpBlock">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Save
          </button>
          <a routerLink="/passwords" class="btn btn-link">Cancel</a>
        </div>
        <div class="text-center">
          <a (click)="toggleFavorite()" class="btn btn-lg btn-link" [title]="favorite.value ? 'Remove from favorites' : 'Add to favorites'" aria-label="Favorite">
            <i class="bi" [class.bi-star]="!favorite.value" [class.bi-star-fill]="favorite.value"></i>
          </a>
          <a *ngIf="!isAddMode" class="btn btn-danger" title="Delete" (click)="delete(password.id)">
            <i class="bi bi-trash3"></i>
          </a>
        </div>
      </form>
    </div>
    <div class="col-lg-4"></div>
  </div>
</div>
