<div class="container navbarMargin">
  <ngx-loading [show]="loading"></ngx-loading>
  <div class="row">
    <h1 class="h1 fw-bold text-center">Generator</h1>
  </div>
  <div class="row ">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
      <div class="input-group mb-3">
        <input type="text" class="form-control form-control-lg" placeholder="Generated password" [(ngModel)]="generatedPassword">
        <button type="button" (click)="copyToClipboard(generatedPassword)" class="btn btn-outline-secondary" title="Copy password" aria-label="Copy password">
          <i class="bi bi-files"></i>
        </button>
      </div>
      <form [formGroup]="generatorForm" (ngSubmit)="generate()">
        <div class="mb-3">
          <label for="passwordLength" class="form-label">Password length: {{ passwordLength.value }}</label>
          <input type="range" class="form-range" id="passwordLength" formControlName="passwordLength" aria-describedby="passwordLengthHelpBlock" required min="5" max="256" value="12"
                 [ngClass]="{ 'is-invalid': submitted && passwordLength?.errors }">
          <div *ngIf="submitted && passwordLength?.errors" class="invalid-feedback">
            <div *ngIf="passwordLength?.errors?.['required']">This field is required.</div>
            <div *ngIf="passwordLength?.errors?.['min']">Length must be at least 5.</div>
            <div *ngIf="passwordLength?.errors?.['max']">Length must be maximally 256.</div>
          </div>
        </div>
        <div class="mb-3">
          <div class="form-group form-check">
            <input type="checkbox" formControlName="useUppercase" class="form-check-input"
                   [ngClass]="{ 'is-invalid': submitted && useUppercase?.errors }" />
            <label for="useUppercase" class="form-check-label">A-Z</label>
          </div>
        </div>
        <div class="mb-3">
          <div class="form-group form-check">
            <input type="checkbox" formControlName="useLowercase" class="form-check-input"
                   [ngClass]="{ 'is-invalid': submitted && useLowercase?.errors }" />
            <label for="useLowercase" class="form-check-label">a-z</label>
          </div>
        </div>
        <div class="mb-3">
          <div class="form-group form-check">
            <input type="checkbox" formControlName="useNumbers" class="form-check-input"
                   [ngClass]="{ 'is-invalid': submitted && useNumbers?.errors }" />
            <label for="useNumbers" class="form-check-label">0-9</label>
          </div>
        </div>
        <div class="mb-3">
          <div class="form-group form-check">
            <input type="checkbox" formControlName="useSpecialChars" class="form-check-input"
                   [ngClass]="{ 'is-invalid': submitted && useSpecialChars?.errors }" />
            <label for="useSpecialChars" class="form-check-label">!@#$%^&*</label>
          </div>
        </div>
        <div class="form-group text-center">
          <button type="submit" [disabled]="loading" class="btn btn-primary" aria-describedby="submitHelpBlock">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Generate
          </button>
        </div>
      </form>
    </div>
    <div class="col-lg-4"></div>
  </div>
</div>

