<div class="container navbarMargin">
  <ngx-loading [show]="loading"></ngx-loading>
  <div *ngIf="!loading">
    <div class="row">
      <div class="col-md-12">
        <h1 class="h1 text-center fw-bold">Passwords</h1>
      </div>
    </div>
    <div class="row">
      <div *ngIf="!passwords?.length" class="text-center mt-5">
        You have no passwords. <br><br>
        <a class="btn btn-outline-dark" routerLink="/passwords/add"><i class="bi bi-plus-lg"></i>&nbsp;&nbsp;Add new</a>
      </div>
      <div *ngIf="passwords?.length">
        <div class="row">
          <div class="col-auto me-auto mb-2">
            <div class="btn-group me-2">
              <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-gear"></i>
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item pointer" (click)="selectAll()"><i class="bi bi-check2-square"></i>&nbsp;&nbsp;Select all</a></li>
                <li><a class="dropdown-item pointer" (click)="unselectAll()"><i class="bi bi-dash-square"></i>&nbsp;&nbsp;Unselect all</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item pointer text-danger" (click)="deleteSelected()"><i class="bi bi-trash3"></i>&nbsp;&nbsp;Delete selected</a></li>
              </ul>
            </div>
            <a class="btn btn-outline-dark" routerLink="/passwords/add"><i class="bi bi-plus-lg"></i>&nbsp;&nbsp;Add new</a>
          </div>
          <div class="col-auto mx-auto text-center">
            <button (click)="toggleFavorite()" class="btn btn-link text-decoration-none me-1 p-2" [title]="searchFavorites ? 'Search all' : 'Search favorites'" aria-label="Search favorites">
              <i class="bi bi-star" *ngIf="!searchFavorites"></i>&nbsp;&nbsp;{{ searchFavorites ? 'Search all' : 'Search favorites' }}
            </button>
          </div>
          <div class="col-md-4 text-right mb-2">
            <div class="input-group">
              <input type="text" class="form-control" id="searchInput" placeholder="Search..." [(ngModel)]="searchText">
              <button type="button" class="btn btn-outline-secondary" title="Search" aria-label="Search">
                <i class="bi bi-search"></i>
              </button>
            </div>
          </div>
        </div>
        <table class="table table-striped">
          <tbody>
          <div *ngIf="(passwords | callback:searchText:searchFavorites:findByPasswordNameAndUsername).length == 0" class="text-center mt-5">
            No passwords were found.
          </div>

            <tr *ngFor="let password of passwords | callback:searchText:searchFavorites:findByPasswordNameAndUsername">
              <td><input type="checkbox" class="rowCheckbox pointer" [attr.data-id]="password.id"></td>
              <td (click)="openDetail(password.id)" class="pointer">{{ password.passwordName }}</td>
              <td (click)="openDetail(password.id)" class="pointer">{{ password.userName }}</td>
              <td>
                <i class="bi bi-three-dots-vertical pointer" data-bs-toggle="dropdown" aria-expanded="false" title="Options"></i>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item pointer" [routerLink]="['/passwords/edit', password.id]"><i class="bi bi-pencil-square"></i>&nbsp;&nbsp;Edit</a></li>
                  <li><a class="dropdown-item pointer" (click)="copyToClipboard(password.userName)"><i class="bi bi-files"></i>&nbsp;&nbsp;Copy username</a></li>
                  <li><a class="dropdown-item pointer" (click)="copyToClipboard(password.passwordDecrypted)"><i class="bi bi-files"></i>&nbsp;&nbsp;Copy password</a></li>
                  <li><a class="dropdown-item pointer" [routerLink]="['/passwords/add']" [state]="{password: password}"><i class="bi bi-file-earmark-plus"></i>&nbsp;&nbsp;Clone</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item pointer text-danger" (click)="delete(password.id)"><i class="bi bi-trash3"></i>&nbsp;&nbsp;Delete</a></li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
