<div class="container navbarMargin">
  <div *ngIf="passwords?.length" class="row">
    <div class="offset-10 col-md-2 mt-2"><a class="btn btn-outline-dark" routerLink="/passwords/new">Add new</a></div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      <div *ngIf="!passwords?.length" class="text-center mt-5">
        You have no passwords. <br><br>
        <a class="btn btn-outline-dark" routerLink="/passwords/new">Add new</a>
      </div>
      <div *ngIf="passwords?.length" class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Password name</th>
              <th>User name</th>
              <!--<th>Password</th>-->
              <th>Description</th>
              <th>Details</th>
              <th>Update</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let password of passwords">
              <td>{{ password.passwordName }}</td>
              <td>{{ password.userName }}</td>
              <!--<td>{{ password.passwordDecrypted }}</td>-->
              <td>{{ password.description }}</td>
              <!--<td>{{ password.updated | date: 'dd/MM/yyyy' }}</td>-->
              <td><a [routerLink]="['/passwords/details', password.id]" id="details" class="btn btn-primary">Details</a></td>
              <td><a [routerLink]="['/passwords/update', password.id]" id="update" class="btn btn-success">Update</a></td>
              <td><a [routerLink]="['/passwords/delete', password.id]" id="delete" class="btn btn-danger">Delete</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
