


<div class="modal-content">
  <div class="modal-header">
    <h1 class="modal-title fs-5" id="staticBackdropLabel">Generate</h1>
    <button type="button" class="btn-close" aria-label="Close" data-bs-dismiss="modal" (click)="sendResponse('')"></button>
  </div>
  <div class="modal-body">
    <app-password-generator (newPasswordEvent)="setGeneratedPassword($event)"></app-password-generator>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="sendResponse('')">Cancel</button>
    <button type="submit" class="btn btn-primary" (click)="sendResponse(generatedPassword)">Accept</button>
  </div>
</div>
